@model techbWeb.View_Models.ContactUSUPVM

@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Views/Shared/_Layout.cshtml";
}
<div class="container shadow-sm mt-4">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.ContactId)

        <div class="card">
            <div class="card-header" style="background-color:#fff">
                <h4>@ViewBag.Title </h4>
            </div>
            <div class="card-body">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                
                <div class="form-row">
                    <div class="form-group col-md-3">
                        @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group col-md-2">
                        @Html.LabelFor(model => model.EmailId, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.EmailId, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.EmailId, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group col-md-2">
                        @Html.LabelFor(model => model.MobileNo, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.MobileNo, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.MobileNo, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group col-md-2">
                        @Html.LabelFor(model => model.Subject, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.Subject, new { htmlAttributes = new { @class = "form-control"} })
                        @Html.LabelFor(model => model.Subject, htmlAttributes: new { @class = "control-label" })
                    </div>
                    <div class="form-group col-md-2">
                        @Html.LabelFor(model => model.Message, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.Message, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.LabelFor(model => model.Message, htmlAttributes: new { @class = "control-label" })
                    </div>
                </div>
            </div>
        </div>
        <div class="card mt-4">
            <div class="card-body">
                <div class="panel-footer mb-4 text-center">
                    <button type="submit" id="btnSave" value="Submit" class="btn btn-primary btn-sm">Update</button>
                    @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-primary btn-sm" })
                </div>
            </div>
        </div>

    }
</div>

@section scripts{
    @Scripts.Render("~/bundles/jqueryval")
}